<div class="">
    <h4>Ajouter un projet ou une activité</h4>
    <form id="addaProject">
        <input type="text" name="title" id="title_project">
        <textarea name="description" id="description_project" rows="5" cols="50" placeholder="Description du projet : "></textarea>
        <input type="file" name="image" id="image_project">
        <button type="submit">Ajouter</button>
    </form>
</div>