<div>
    <h2>AJOUTER UN UTILISATEUR</h2>
    <form id="newusersignup" class="">
        <input type="text" name="firstName" id="firstName" placeholder="Prénom" required class="ml-3 border-none ring-transparent focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <input type="text" name="lastName" id="lastName" placeholder="Nom" required class="ml-3 border-none ring-transparent focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <input type="email" name="email" id="email" placeholder="Email" class="ml-3 border-none ring-transparent focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <input type="password" name="password" id="password" placeholder="Mot de passe" class="ml-3 border-none ring-transparent focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <button type="submit" class="backgroud_btn_h text-white rounded-3xl my-5 p-2 border-2 border-solid border-yellow-500 border-opacity-30">Ajouter</button>
    </form>
</div>