<div class="w-11/12 h-96 py-5">
    <div>
        <h2>A PROPOS DE NOUS</h2>
        <h3>Nous proposons les meilleurs solutions</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat, doloribus voluptates eum error ratione odio deserunt 
            corporis facere dolores ex.
        </p>
    </div>
    <div class="w-96 h-72 bg-red-200">

    </div>
</div>