<div class="w-11/12 h-96 py-5">
    <div>
        <h2 class="color_blue_foncé font-medium">A PROPOS DE NOUS</h2>
        <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">Nous sommes un cabinet d'experts engagé pour le développement socio-économique durable en RDC</h3>
        <p class="text-sm lg:text-lg my-6">Née d'une volonté de changer les choses, Impact Eco Group rassemble des experts passionnés par l’innovation sociale et environnementale. 
            Nous croyons en un développement qui profite à tous, en donnant aux communautés les moyens de se transformer
        </p>
        <!-- <div class="flex flex-col lg:flex-row">
            <ul class="">
                <li>Mise en avant de la mission et vision sous forme d’énoncés courts et percutants</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
            <ul class="">
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div> -->
        <div>
            <div>
                <div class="w-14 h-14 rounded-full">
                    <img src="/images/image1.jpg" alt="" class="h-full w-auto object-contain">
                </div>
                <div></div>
            </div>
            <li>Phone</li>
        </div>
    </div>
    <div class="w-96 h-72 bg-red-200">

    </div>
</div>