<div class="w-11/12 h-96 py-5">
    <div>
        <h2 class="">A PROPOS DE NOUS</h2>
        <h3>Nous proposons les meilleurs solutions</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat, doloribus voluptates eum error ratione odio deserunt 
            corporis facere dolores ex.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <ul>
            <li>Contact</li>
            <li>Phone</li>
        </ul>
    </div>
    <div class="w-96 h-72 bg-red-200">

    </div>
</div>