<div class="w-11/12 h-96 py-5">
    <div>
        <h2 class="color_blue_foncé font-medium">A PROPOS DE NOUS</h2>
        <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">Nous sommes un cabinet d'experts engagé pour le développement socio-économique durable en RDC</h3>
        <p class="text-sm lg:text-lg my-6">Née d'une volonté de changer les choses, Impact Eco Group rassemble des experts passionnés par l’innovation sociale et environnementale. 
            Nous croyons en un développement qui profite à tous, en donnant aux communautés les moyens de se transformer
        </p>
        <div class="flex flex-row mb-8">
            <div class="w-42 flex flex-row items-center">
                <div class="w-16 h-16 rounded-full overflow-hidden">
                    <img src="/images/image1.jpg" alt="" class="h-full w-16 object-cover rounded-full">
                </div>
                <div class="ml-3">
                    <p class="font-bold">John Doe</p>
                    <span class="color_blue_foncé">Lorem</span>
                </div>
            </div>
            <div class="w-42 flex flex-row items-center">
                <ul>
                    <li></li>
                </ul>
                <ul>
                    <li class="">Contact</li>
                    <li class="font-bold">+243 987 654 321</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-96 h-72 bg-red-200">

    </div>
</div>