<div class="w-11/12 h-96 py-5">
    <div class="items-center flex flex-col">
        <div>
            <h2 class="color_blue_foncé font-medium">A PROPOS DE NOUS</h2>
            <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">Nous sommes un cabinet d'experts engagé pour le développement socio-économique durable en RDC</h3>
            <p class="text-sm lg:text-lg my-6">Née d'une volonté de changer les choses, Impact Eco Group rassemble des experts passionnés par l’innovation sociale et environnementale. 
                Nous croyons en un développement qui profite à tous, en donnant aux communautés les moyens de se transformer
            </p>
        </div>
        <!-- <div class="flex flex-row mb-8">
            <div class="w-42 flex flex-row items-center">
                <div class="w-16 h-16 rounded-full overflow-hidden">
                    <img src="/images/image1.jpg" alt="" class="h-full w-16 object-cover rounded-full">
                </div>
                <div class="ml-3">
                    <p class="font-bold">John Doe</p>
                    <span class="color_blue_foncé">Lorem</span>
                </div>
            </div>
            <div class="w-42 flex flex-row items-center">
                <ul>
                    <li></li>
                </ul>
                <ul>
                    <li class="">Contact</li>
                    <li class="font-bold">+243 987 654 321</li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="w-full flex flex-col lg:flex-row">
        <div class="w-full lg:w-2/4">
            <p class="dm_sans">
                Impact Eco Group est basé à Génève, spécialisé dans le management durable et l'anticonrruption. 
                Nous réunissons des experts issus de diverses nationnalités africaines et occidentales, 
                forts d'une expérience significative au sein d'organisations internationales et multinationales reconnues.
                Notre cabinet collabore activement avec plusieurs universités suisses et allemandes et est membre de plusieurs 
                organisations prestigieuses en suisse. <br> Nous croyons fermement q'une collaboration étroite et une approche
                stratégique nous permettront de transformer les défis en opportunités, tout en repositionnant le Kasai Central sur la 
                voie du développement et du progrès.
            </p>
        </div>
        <div class="w-96 h-72 rounded-xl relative items-center justify-center self-center flex">
            <div class="w-4/6 self-center">
                <img src="/images/image2.png" alt="" class="rounded-xl object-contain">
            </div>
            <img src="/images/image3.png" alt="" class="rounded-xl h-28 w-auto absolute top-6 right-0 border-2 border-solid border-white">
            <div class="w-44 px-4 py-2 flex flex-row text-center color_blue_foncee_bg rounded-xl absolute bottom-12 right-0 text-white">
                <ul class="font-bold text-2xl">
                    <li>25+</li>
                    <li>Ans</li>
                </ul>
                <ul class="text-xs items-center text-center flex ml-2">
                    <p>Lorem ipsum dolor sit amet.</p>
                </ul>
            </div>
        </div>
    </div>

    <!-- OUR MISSION -->
    <div class="my-12">
        <h2 class="color_blue_foncé font-medium">NOS MISSIONS</h2>
        <p class="text-sm lg:text-lg my-6">
            Impact Eco Group se positionne comme un défenseur de l'environnement tout en jouant un rôle clé dans
            le développement socio-économique durable en RDC, créant un équilibre entre prospérité économique et protection de l'environnement.
        </p>
        <div class="my-4 relative flex flex-wrap items-center justify-center self-center m-auto lg:p-5">
            <div class="w-56 h-auto flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-4/6">
                    <img src="/images/image_ (4).jpg" class="h-auto w-full object-contain" alt="Protection et Restauration des Ecosystèmes">
                </div>
                <div class="color_blue_foncé text-white w-full h-fit p-2">
                    <h4 class="text-center text-md font-medium">Protection et Restauration des Ecosystèmes</h4>
                    <p class="text-black text-sm mt-2">Préserver et restaurer la nature pour Protéger la biodiversité</p>
                </div>
            </div>

            <div class="w-56 h-auto flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-4/6">
                    <img src="/images/image_ (1).jpg" class="h-auto w-full object-cover" alt="Protection et Restauration des Ecosystèmes">
                </div>
                <div class="color_blue_foncé text-white w-full h-fit p-2">
                    <h4 class="text-center text-md font-medium">Engagement et Partenariats</h4>
                    <p class="text-black text-sm mt-2">Unir les forces pour des actions durables et impactantes</p>
                </div>
            </div>
            <div class="w-56 h-auto flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-4/6">
                    <img src="/images/image_ (2).jpg" class="h-auto w-full object-contain" alt="Protection et Restauration des Ecosystèmes">
                </div>
                <div class="color_blue_foncé w-full h-fit p-2">
                    <h4 class="text-center text-md font-medium">Développement de Projets d'Energie Renouvelable</h4>
                    <p class="text-black text-sm mt-2">Promouvoir des solutions propres pour un avenir durable</p>
                </div>
            </div>
            <div class="w-56 h-auto flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-4/6">
                    <img src="/images/image_ (2).jpg" class="h-auto w-full object-contain" alt="Protection et Restauration des Ecosystèmes">
                </div>
                <div class="color_blue_foncé w-full h-fit p-2">
                    <h4 class="text-center text-md font-medium">Education et Formation</h4>
                    <p class="text-black text-sm mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="w-56 h-auto flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-4/6">
                    <img src="/images/image_ (5).jpg" class="h-auto w-full object-contain" alt="Protection et Restauration des Ecosystèmes">
                </div>
                <div class="color_blue_foncé w-full h-fit p-2">
                    <h4 class="text-center text-md font-medium">Promotion de l'Agriculture Durable</h4>
                    <p class="text-black text-sm mt-2">Produire sans épuiser les ressources naturelles</p>
                </div>
            </div>

        </div>

    </div>

    <!-- OUR Vision -->

    <div class="my-12">
        <h2 class="color_blue_foncé font-medium">NOTRE VISION</h2>
        <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">Protéger, Eduquer et Soutenir pour un Avenir Durable</h3>
        <p class="text-sm lg:text-lg my-6">
            Chez Impact Eco Group, nous protégeons la forêt tropicale du Congo en promouvant une angriculture responsable,
            des énergies renouvelables et en sensibilisant les communautés locales aux enjeux environnementaux, pour consilier
            développement économique et respect de la nature.
        </p>

        <div class="w-full flex flex-wrap">
            <div class="w-56 h-auto shadow-lg flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-40">
                    <img src="/images/image_ (6).jpg" class="w-full h-auto object-cover" alt="" >
                </div>
                <div class="w-full h-fit color_blue_foncé p-2">
                    <h4 class="text-center text-md font-medium">Préservation de l'Environnement</h4>
                    <p class="text-black text-sm mt-2">Contribuer à la potection de la forêt tropicale du bassin du Congo, crucial pour l'équilibre climatique mondial.</p>
                </div>
            </div>
            <div class="w-56 h-auto shadow-lg flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-40">
                    <img src="/images/image_ (6).jpg" class="w-full h-auto object-cover" alt="" >
                </div>
                <div class="w-full h-fit color_blue_foncé p-2">
                    <h4 class="text-center text-md font-medium">Développement Durable</h4>
                    <p class="text-black text-sm mt-2">Promouvoir des pratiques qui allient croissance économique et protection de l'environnement.</p>
                </div>
            </div>
            <div class="w-56 h-auto shadow-lg flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-40">
                    <img src="/images/image_ (6).jpg" class="w-full h-auto object-cover" alt="" >
                </div>
                <div class="w-full h-fit color_blue_foncé p-2">
                    <h4 class="text-center text-md font-medium">Education et sensibilisation</h4>
                    <p class="text-black text-sm mt-2">Informer les communautés sur les enjeux environnementaux afin d'encourager des comportements durables à long terme.</p>
                </div>
            </div>
            <div class="w-56 h-auto shadow-lg flex flex-col my-5 mr-10 overflow-hidden relative shadow-lg">
                <div class="w-full h-40">
                    <img src="/images/image_ (6).jpg" class="w-full h-auto object-cover" alt="" >
                </div>
                <div class="w-full h-fit color_blue_foncé p-2">
                    <h4 class="text-center text-md font-medium">Soutien aux communautés Locales</h4>
                    <p class="text-black text-sm mt-2">Améliorer les conditions de vie des populations en leur offrant des moyens de substances durables et en renforçant leur résilience face aux changements climatiques.</p>
                </div>
            </div>
        </div>
    </div>
</div>