    <!-- OUR BUSINESS OBJECTIVE -->

    <div class="w-11/12 my-12 flex flex-col relative">
        <h2 class="color_blue_foncé font-medium">NOS SERVICES</h2>
        <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
            Conseil stratégique, diagnostics personnalisés et formations pratiques pour intégrer pleinement la transition
            écologique dans votre entreprise.
        </h3>
        <div class="w-full flex flex-col md:flex-row py-10 items-center justify-center">
    
            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/image_ (2).jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Conseil stratégique et Accompagnement personnalisé</h4>
                </div>
            </div>

            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/image_ (2).jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Conseil stratégique et Accompagnement personnalisé</h4>
                </div>
            </div>
    
            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/image_ (2).jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Conseil stratégique et Accompagnement personnalisé</h4>
                </div>
            </div>
        </div>
    </div>
    