    <!-- OUR SERVICES -->

    <div class="w-11/12 my-12 flex flex-col relative">
        <h2 class="color_blue_foncé text-xl font-medium">PLAN DE BUSINESS</h2>
        <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">Stratégies innovantes pour une croissance durable et responsable</h3>
        <p class="text-sm lg:text-lg my-6">
            Le plan de business repose sur une stratégie opérationnelle claire qui vise à harmoniser performance économique et 
            <span class="txt_color_orange">transition écologique.</span> En misant sur des solutions innovantes et sur une gestion agile des <span class="txt_color_orange">enjeux environnementaux</span>, il favorise la création
            de valeur partagée et prépare les <span class="txt_color_orange">entreprises</span> à relever les défis d'un marché en constante évolution tout en s'engageant pour un <span class="txt_color_orange">développement durable.</span>
        </p>
        <div class="w-full flex flex-col md:flex-row py-10 items-center justify-center">
    
            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/transition.jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Accélerer la transition</h4>
                    <p class="text-black text-sm mt-2">
                        Aider rapidement les entreprises à adopter un modèle économique durable en reduisant leur impact environnemental 
                        et en améliorant leur performance sociale.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/valeur_partagee.jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Créer de la valeur partagée</h4>
                    <p class="text-black text-sm mt-2">
                        Associer la perfomance économique au développement durable par l'innovation et l'optimisation des processus internes pour génrérer des bénéfices collectifs.
                    </p>

                </div>
            </div>
    
            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/COMPETITION.jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Renforces la compétitivité</h4>
                    <p class="text-black text-sm mt-2">
                        Fournir aux entreprises des Outils et des stratégies pour anticiper et s'adapter à l'évolution réglementaires et sociétales, renforçant ainsi leur position sur le marché.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-56 lg:w-64 h-auto shadow-lg m-2">
                <div class="w-full h-48 relative items-center justify-center flex">
                    <img src="/images/changem.jpg" class="w-full h-auto object-cover" alt="">
                </div>
                <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                    <h4 class="text-center text-md font-medium">Favoriser le changements de paradigme</h4>
                    <p class="text-black text-sm mt-2">
                        Instaurer une culture de la durabilité au sein des organisations grâce à la formation et un Accompagnement stratégique,
                        tansformant les pratiques et mentalités.
                    </p>
                </div>
            </div>
        </div>
    </div>
    