<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="bg-white ">
        <nav class="h-20 flex flex-row px-5 lg:px-10 py-3 justify-between shadow-lg">
            <div class="">
                <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
            </div>
            <div class="flex items-center" id="two-part">
                <ul class="flex flex-row items-center relative">
                    <li class="mx-2 text-lg dm_sans relative cursor-pointer"><a href="#">Accueil</a></li>
                    <li class="mx-2 text-lg dm_sans relative cursor-pointer"><a href="#">Nos Projets</a></li>
                    <li class="mx-2 text-lg dm_sans relative cursor-pointer"><a href="#">A Propos</a></li>
                    <button type="button" class="relative text-lg mx-2 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                        <span>Contact</span> 
                        <span class="text-md"><i class='bx bxs-phone-call'></i></span>
                    </button>
                </ul>
            </div>
        </nav>
        <div id="heroHeader" class="">
            
        </div>
    </header>
</body>
</html>