<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="w-full height_header">
        <nav class="bg-white h-20 flex flex-row px-5 lg:px-10 py-3 justify-between">
            <div class="">
                <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
            </div>
            <div class="flex items-center" id="two-part">
                <ul class="flex flex-row items-center relative">
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Accueil</a></li>
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Nos Projets</a></li>
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">A Propos</a></li>
                    <button type="button" class="relative text-lg mx-2 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                        <span>Contact</span> 
                        <span class="text-md"><i class='bx bxs-phone-call'></i></span>
                    </button>
                </ul>
            </div>
        </nav>
        <div id="heroHeader" class="w-full h-full header_bg_image relative text-center justify-center items-center flex relative">
            <img src="/images/undraw_in-progress_cdfz.svg" alt="" class="absolute left-0 top-10">


            <div class="parallelogram w-full h-full md:w-11/12 lg:w-8/12 justify-center align-center flex items-center text-right absolute right-0">
                <h1 class="text-end text-black font-medium dm_sans  text-4xl md:text-3xl">
                    Ensemble, propulsons la RD Congo vers un avenir <br> <span class="txt_color_orange">audacieux</span> grâce à des projets <br> novateurs et <span class="txt_color_orange">durables</span>
                </h1>
            </div>
        </div>
    </header>
    <img src="/images/undraw_welcome_nk8k.svg" alt="" class="size-20 absolute left-10 top-10">
    <img src="/images/undraw_explore_kfv3.svg" alt="" class="size-20 absolute left-2/4 top-20">
</body>
</html>