<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="bg-white ">
        <nav class="h-12 flex flex-row px-4 py-3 justify-between shadow-lg">
            <div class="">
                <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
            </div>
            <div class="flex items-center">
                <ul class="flex flex-row items-center">
                    <li class="mx-2 text-xs dm_sans">Accueil</li>
                    <li class="mx-2 text-xs dm_sans">Nos Projets</li>
                    <li class="mx-2 text-xs dm_sans">A Propos</li>
                    <button type="button" class="text-xs mx-2 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium">
                        <span>Contact</span> 
                        <span class="text-md"><i class='bx bxs-phone-call'></i></span>
                    </button>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>