<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="w-full height_header">
        <nav class="bg-white h-20 flex flex-row px-5 lg:px-10 py-3 justify-between">
            <div class="">
                <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
            </div>
            <div class="flex items-center" id="two-part">
                <ul class="flex flex-row items-center relative">
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Accueil</a></li>
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Nos Projets</a></li>
                    <li class="mx-2 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">A Propos</a></li>
                    <button type="button" class="relative text-lg mx-2 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                        <span>Contact</span> 
                        <span class="text-md"><i class='bx bxs-phone-call'></i></span>
                    </button>
                </ul>
            </div>
        </nav>
        <div id="heroHeader" class="w-full h-full bg-[url(/images/bg_header2.jpg)]  object-contain relative z-20">
            <!-- <div class="justify-center align-center flex items-center text-center"> -->
                <h1 class="text-center font-bold dm_sans">Transformons ensemble la RDC - Des projets innovants pour un avenir durable</h1>
            <!-- </div> -->
        </div>
    </header>
</body>
</html>