<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="bg-white h-12 flex flex-row px-4 py-3 justify-between">
        <div class="">
            <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
        </div>
        <div class="">
            <ul class="flex flex-row">
                <li class="">Accueil</li>
                <li class="">Nos Projets</li>
                <li class="">A Propos</li>
                <li class=""><button type="button">Nous contacter</button></li>
            </ul>
        </div>
    </header>
</body>
</html>