<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="bg-black h-12 flex flex-row px-4 py-3">
        <div class="">
            <img src="/images/IEG-logo.png" alt="Loge de l'entreprise Impact Eco Group" class="h-full w-auto object-contain">
        </div>
        <div class="">

        </div>
    </header>
</body>
</html>