<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header class="w-full height_header">
        <nav id="navbarContainer" class="bg-white h-16 lg:h-20 flex flex-col lg:flex-row px-5 lg:px-10 py-3 justify-between">
            <div class="h-10 lg:h-16 lg:py-2 items-center flex">
                <img src="/images/IEG-logo.webp" alt="Loge de l'entreprise Impact Eco Group" class="logo_nav h-full w-auto object-contain">
            </div>
            <div class="flex mt-5 lg:items-center" id="two-part">
                <ul class="lg:hidden">
                    <button id="fa_bars_menu" onclick="navbarShowH('open');" class="text-3xl absolute top-3 right-3 lg:hidden"><li><i class="fa-solid fa-bars"></i></li></button>
                    <button id="fa_xmark_menu" onclick="navbarShowH('close');" class="text-3xl hidden lg:hidden"><li><i class="fa-solid fa-xmark"></i></li></button>
                </ul>
                <ul id="navbar_part2" class="hidden lg:flex flex-col lg:flex-row lg:items-center relative">
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Accueil</a></li>
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Nos Projets</a></li>
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">A Propos</a></li>
                    <button type="button" class="text_navbar_annim relative text-lg mx-3 my-2 lg:my-0 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                        <span>Contact</span> 
                        <span class="text-md"><i class='bx bxs-phone-call'></i></span>
                    </button>
                </ul>
            </div>
        </nav>
        <div id="heroHeader" class="w-auto h-96 header_bg_image relative text-center justify-center items-center flex relative overflow-visible">
            <img src="/images/undraw_in-progress_cdfz.svg" alt="" class="svg_inProgress h-42 absolute left-1/6 bottom-0 opacity-90">
            <img src="/images/validation-svgrepo-com.svg" alt="" class="svg_bounce h-8 absolute right-30 bottom-10 opacity-90">

            <div class="spinner_svg size-6 absolute top-10 text-blue-900">
                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2V22M19.0711 4.92893L4.92893 19.0711M22 12H2M19.0711 19.0711L4.92893 4.92893" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="size-6 absolute top-10 right-10 text-blue-900">
                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 12L10.5 15L16.5 9M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div class="bg-white_opac parallelogram w-full h-96 md:w-11/12 lg:w-8/12 justify-center align-center flex flex-col items-center text-right absolute right-0 z-30">
                <h1 class="text_heroHeader text-center text-black font-medium dm_sans text-xl md:text-3xl lg:text-4xl z-40 opacity-90">
                    Ensemble, propulsons la RD Congo vers un  <br>avenir  <span class="txt_color_orange font-bold px-2">audacieux</span> grâce à des projets <br> novateurs et <span class="txt_color_orange font-bold px-2">durables.</span>
                </h1>
                <button type="button" class="btn_HeroHeader my-4 relative text-lg mx-2 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                    Découvrez-nous
                </button>
            </div>
        </div>
    </header>

    <section id="about" class="w-full my-6 items-center justify-center flex">
        <%- include('aboutCompagny') %>
    </section>
</body>
</html>