<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">RENCONTRER L'EQUIPE</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez l'équipe passioné qui concrétise notre mission
    </h3>
    <% if(admin) { %>
        <div class="w-full my-3">
            <button type="button" id="add_mission" class="color_blue_foncé border_blue_foncé border-2 border-solid relative text-lg mx-3 my-2 lg:my-0 dm_sans py-2 px-3 rounded-lg font-medium cursor-pointer">Ajouter un membre</button>
        </div>  
    <% } %>
    <div class="w-full my-5 lg:my-10 relative flex flex-row items-center justify-center">
        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-blue-900 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">65%</p>
            <span class="text-xs relative text-center">Moins de 40 ans</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-yellow-500 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">45%</p>
            <span class="text-xs relative text-center">Femmes</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid btn_border_bg_color items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">93%</p>
            <span class="text-xs relative text-center">Avec formation supérieure</span>
        </div>
    </div>

    <div class="w-full h-96 my-10 flex flex-wrap items-center justify-center overflow-y-scroll">
        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (3).jpeg" class="w-auto h-full" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">John Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (2).jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Mattew Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (1).jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Anna Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (4).jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Smith Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (5).jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Aaron Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/team/team (6).jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Anna Doe</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>