<div class="w-11/12">
    <h2 class="color_blue_foncé text-xl font-medium">RENCONTRER L'EQUIPE</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez le fondateur visionnaire et les collaborateurs passionés qui concrétisent notre mission
    </h3>

    <div class="w-full">
        <div class="">
            <img src="/public/images/bg_conn_page.jpeg" class="" alt="">
        </div>
        <div class="">
            <ul class="">
                <h5>John Doe</h5>
                <p>CEO Founder</p>
            </ul>
            <ul class="">
                <p>
                    Le fondateur incarne une vision novatrice et audatieuse pour transformer la manière dont les entreprises 
                    intégrent la durabilité. <br> Fort d'une solide expérience et animé par une passion pour l'innovation, il a su
                    bâtir une équipe engagée autour d'objectis clairs et ambitieux. Son leadership inspirant et son expertise stratégique sont les 
                    moteurs qui propulsent notre mission vers un avenir plus responsable et prospère.
                </p>
            </ul>
        </div>
    </div>
</div>