<div class="w-11/12">
    <h2 class="color_blue_foncé text-xl font-medium">RENCONTRER L'EQUIPE</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez l'équipe passioné qui concrétise notre mission
    </h3>

    <div class="my-5 lg:my-10">
        <div class="w-28 h-28 rounded-full border-4 border-solid border-blue-900 items-center justify-center flex flex-col">
            <p class="text-xl">65%</p>
            <span class="text-sm">Moins de 40 ans</span>
        </div>
    </div>

    <div class="w-full my-10 flex flex-wrap items-center justify-center">
        <div class="w-44 h-64 bg-red-500">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div>
                <h5>John Doe</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>