<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">RENCONTRER L'EQUIPE</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez l'équipe passioné qui concrétise notre mission
    </h3>

    <div class="w-full my-5 lg:my-10 relative flex flex-row items-center justify-center">
        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-blue-900 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">65%</p>
            <span class="text-xs relative text-center">Moins de 40 ans</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-blue-900 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">45%</p>
            <span class="text-xs relative text-center">Femmes</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-blue-900 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">93%</p>
            <span class="text-xs relative text-center">Avec formation supérieure</span>
        </div>
    </div>

    <div class="w-full h-96 my-10 flex flex-wrap items-center justify-center overflow-y-scroll">
        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">John Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Mattew Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Anna Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Angel Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Arr Doe</h5>
                <p></p>
            </div>
        </div>

        <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg">
            <div>
                <img src="/images/bg_conn2.jpeg" class="w-full h-auto" alt="">
            </div>
            <div class="items-center justify-center flex text-center">
                <h5 class="font-bold text-center">Anna Doe</h5>
                <p></p>
            </div>
        </div>
    </div>
</div>