<div class="my-12 flex flex-col">
    <h2 class="color_blue_foncé font-medium">NOS SERVICES</h2>
    <div class="w-full flex-row lg:flex-col">

        <div class="w-full lg:w-56 h-auto">
            <div class="w-full h-40 relative">
                <img src="/images/image_ (7).jpg" class="w-full h-auto object-cover" alt="">
            </div>
            <div class="w-full h-fit flex flex-col">
                <h4 class="text-center text-md font-medium">Soutien aux communautés Locales</h4>
                <p class="text-black text-sm mt-2">
                    Améliorer les conditions de vie des populations en leur offrant des moyens de substances durables 
                    et en renforçant leur résilience face aux changements climatiques.
                </p>
            </div>
        </div>

    </div>
</div>
