<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">NOS PROJETS RECENTS</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez l'équipe passioné qui concrétise notre mission
    </h3>
</div>