<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">NOS PROJETS ET ACTIVITES</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez nos initiatives phares qui transforment la transition écologique en opportunités concrètes
    </h3>
    <p class="text-sm lg:text-lg my-6">
        <span class="txt_color_orange">Chez Impact Eco Group,</span> nous croyons que la transition écologique est un levier pour une croissance
        <span class="txt_color_orange">durable et responsable</span>. Chaque initiative vise à consilier <span class="txt_color_orange">performance économique</span>
        et impact environnemental positif.
    </p>

    <div class="w-full">
        <div class="">
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>