<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">NOS PROJETS ET ACTIVITES</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez nos initiatives phares qui transforment la transition écologique en opportunités concrètes
    </h3>
    <p class="text-sm lg:text-lg my-6">
        <span class="txt_color_orange">Chez Impact Eco Group,</span> nous croyons que la transition écologique est un levier pour une croissance
        <span class="txt_color_orange">durable et responsable</span>. Chaque initiative vise à consilier <span class="txt_color_orange">performance économique</span>
        et impact environnemental positif.
    </p>

    <div class="w-full flex flex-wrap items-center justify-center">
        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/image_ (2).jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Diagnostic et Accompagnement</h4>
                <p class="text-black text-sm mt-2">
                    Réalisation d'audits et de diagnostics pour mesurer l'empreinte écologique des entreprises et proposer
                    des plans d'action personnalisés.
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>

        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/image_ (2).jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Développement d'outils d'évaluation</h4>
                <p class="text-black text-sm mt-2">
                    Création et mise en oeuvre de méthodologies innovantes pour évaluer l'impact environnemental et social
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>

        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/image_ (2).jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Programme de formation et ateliers</h4>
                <p class="text-black text-sm mt-2">
                    Conception de sessions de formation d'atéliers intéractifs pour instaurer une culture de durabilité au 
                    sein des organisations.
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>

        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/image_ (2).jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Initiatives d'innovation en transition écologique</h4>
                <p class="text-black text-sm mt-2">
                    Projets pilotes visant à intégrer de nouvelles technologies et pratiques durables dans le modème économique
                    des entreprises.
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>

        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/concours.jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Investir dans l'éducation des jeunes africains</h4>
                <p class="text-black text-sm mt-2">
                    Organisation des concours en développementdes logiciels
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>

        <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg">
            <div class="w-full">
                <img src="/images/image_ (2).jpg" class="w-full h-auto" alt="">
            </div>
            <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                <h4 class="text-center text-md font-medium">Economie</h4>
                <p class="text-black text-sm mt-2">
                    Organisation d'un forum économique à Génève en Partenariat avec la chambre de commerce de Génève et la 
                    Haute Ecole de Génève
                </p>
                <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
            </div>
        </div>
    </div>
</div>