<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">NOS PROJETS ET ACTIVITES</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez nos initiatives phares qui transforment la transition écologique en opportunités concrètes
    </h3>
    <p class="text-sm lg:text-lg my-6">
        <span class="txt_color_orange">Chez Impact Eco Group,</span> nous croyons que la transition écologique est un levier pour une croissance
        <span class="txt_color_orange">durable et responsable</span>. Chaque initiative vise à consilier <span class="txt_color_orange">performance économique</span>
        et impact environnemental positif.
    </p>
    <% if(admin) { %>
        <div class="w-full my-3">
            <button type="button" onclick="openAddProject();" id="add_mission" class="color_blue_foncé border_blue_foncé border-2 border-solid relative text-lg mx-3 my-2 lg:my-0 dm_sans py-2 px-3 rounded-lg font-medium cursor-pointer">Ajouter un projet ou une activité</button>
        </div>  
    <% } %>
    
    <% if(projects.length > 0) { %>
        <div class="w-full flex flex-wrap items-center relative">
            <% projects.forEach((pro) => { %>
                <div class="w-full md:w-56 h-auto m-2 md:m-3 lg:m-6 border-2 border-solid border-gray-200 shadow-lg relative">
                    <ul class="h-20 w-8  bg-transparent absolute top-0 right-0">
                        <li><i class="fa-solid fa-pen-to-square"></i></li>
                        <li><i class="fa-solid fa-trash"></i></li>
                    </ul>
                    <div class="w-full">
                        <img src="/images/<%=pro.image%>" class="w-full h-auto" alt="">
                    </div>
                    <div class="w-full h-fit flex flex-col color_blue_foncé border-t-2 border-solid border-gray-200 p-2">
                        <h4 class="text-center text-md font-medium"><%= pro.title %></h4>
                        <p class="text-black text-sm mt-2">
                            <%= pro.description %>
                        </p>
                        <button type="button" class="btn_bg_color p-2 mt-2 text-white rounded-lg">En savoir plus</button>
                    </div>
                </div>
            <% }) %>
        </div>  
    <% } else { %>
        <p class="text-red-500 text-lg">Aucun projet pour le moment</p>
    <% } %>
    <!-- </div> -->
</div>