<div class="w-full text-white flex flex-col lg:flex-row items-center justify-center">
    <div class="w-full p-6 lg:w-1/6">
        <ul class="w-full h-14">
            <img src="/images/IEG-logo.webp" alt="Loge de l'entreprise Impact Eco Group" class="logo_nav h-full w-auto object-contain">
        </ul>
        <ul class="flex flex-row my-10">
            <li><i class='bx bxl-instagram'></i></li>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-x-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
        </ul>
    </div>
    <div class="w-full p-6 lg:w-3/6 items-center justify-center flex">
        <ul class="flex flex-row">
            <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Accueil</a></li>
            <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">Nos Projets</a></li>
            <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#">A Propos</a></li>
            <button type="button" class="text_navbar_annim relative text-lg mx-3 my-2 lg:my-0 dm_sans btn_bg_color py-2 px-3 rounded-lg text-white font-medium cursor-pointer">
                <span>Contact</span> 
                <span class="text-md"><i class='bx bxs-phone-call'></i></span>
            </button>
        </ul>
    </div>
    <div class="w-full p-6 lg:w-2/6">
        <ul>
            <input type="search" name="search" id="search" class="rounded-lg bg-white border-2 border-solid border-white focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        </ul>
        <ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, assumenda.</p>
        </ul>
    </div>
</div>